@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "VT323", monospace;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 16px);
}

.pt-safe {
  padding-top: env(safe-area-inset-top, 0px);
}